*,
body,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;

  padding: 60px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

/* GAME */
.game {
  width: 100%;
  max-width: 934px;
  height: 467px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.game img {
  width: 400px;
}

.game .wrapper-word {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.game .choose-word {
  width: 200px;
  height: 60px;

  font-size: 20px;

  border-radius: 8px;

  background: #27ae60;
  color: #fff;
}

.game .choosen-word {
  display: flex;
  gap: 10px;

  margin-bottom: 27px;
  margin-right: 10px;
}

.game .choosen-word p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 50px;
  line-height: 68px;

  color: #000;
}

.game .choosen-word p.win {
  color: #27ae60;
}

.game .choosen-word p.lost {
  color: #ff0000;
}

/* LETTERS */
.letters {
  display: grid;
  grid-template-columns: repeat(13, 40px);
  gap: 12px;
}

.letter {
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  border-radius: 3px;
  border: 1px solid #7aa7c7;
  background: #e1ecf4;
  color: #39739d;

  height: 40px;
}

.letter:disabled {
  background: #9faab5;
  color: #798a9f;
}

/* GENERAL */

button {
  transition: all 0.2s;
}

.choose-word:not([disabled]):hover {
  cursor: pointer;
  opacity: 0.9;
}

.letter:not([disabled]):hover {
  cursor: pointer;
  filter: brightness(0.9);
}
